@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './config';

body::before{
  display: block;
  content: '';
  height:50px;
}

.site-title{
  font-size: $title-font;
}

.shortdesciption{
  // background-color: lighten( rgb(49, 19, 220), 90%);
  background:  rgb(129, 111, 234);
  img{
    width: 40%;
  }
}