@import url('https://fonts.googleapis.com/css?family=Sniglet|Boogaloo|Slackey|Comfortaa&effect=3d');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.homesite{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.head{
    background-color: transparent;
    text-align:center;
    font-family: 'Comfortaa', sans-serif;
    color: whitesmoke;
}

ul{
    padding: 0px 0px;
}

.navbar ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar li{
    list-style: none;
    text-align: center;  
    font-size: large; 
    border: 1px solid white;            
}

.navbar li a {
    color: #eef2f3;
    text-decoration: none;
}

.content{
    width: 90%;
    height: 500px;
    margin: auto;
    background-color: whitesmoke;
    font-size: larger;
    font-family: 'Roboto', Courier, monospace;
    font-weight: bold;
    border: 2px ;
    border-radius: 20px;
}

.content li{
    list-style:none;
    padding: 8px 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content li a {
    text-decoration: none;
}

.link{
    padding: 5px 5px;
    border: 1px;
    border-radius: 10px;
    background-color:cadetblue;
    flex-grow: 1;   
}


.footer{
    color: #eef2f3;
    text-align: center;
    padding-top: 10px;
}

@media screen and (min-width : 700px) {

    .head{
        text-align:left;
    }

    .navbar ul{
        display: inline-block;
       
    }
    .navbar li {
        display: inline-block;
        padding: 5px 25px;
        border: none;
    }

    .navbar li a {
        color: #eef2f3;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .navbar li a:hover {
        color: aquamarine;
    }

    .content ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content li a {
        transition: all 0.3s ease 0s;
        color: white;
    }
    
    .content li a:hover {
        background-color:aquamarine;
    }

}