@import url('https://fonts.googleapis.com/css?family=Sniglet|Boogaloo|Slackey|Comfortaa&effect=3d');

.homesite{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.head{
    background-color: transparent;
    text-align:center;
    font-family: 'Comfortaa', sans-serif;
    color: whitesmoke;
}

.navbar li{
    list-style: none;
    text-align: center;               
}

.navbar li a {
    color: #eef2f3;
    text-decoration: none;
}

.content{
    background-color: rgb(224,224,232);
    text-align: center;
    border: 2px;
}

.content li{
    list-style:none;
    padding:10px 20px;
}

.content li a {
    text-decoration: none;
}

.homesite footer{
    color: #eef2f3;
    text-align: center;
}

@media screen and (min-width : 800px) {

    .head{
        text-align:left;
    }

    .navbar li {
        display: inline-block;
        padding: 5px 20px;
    }

    .navbar li a {
        color: #eef2f3;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }


    .navbar li a:hover {
        color: aquamarine;
    }

    .content{
        font-size: large;
        text-align:left;
    }
    
    .content li a {
        transition: all 0.3s ease 0s;
    }
    
    .content li a:hover {
        color:cornflowerblue
    }

}