@import url('https://fonts.googleapis.com/css?family=Sniglet|Boogaloo|Slackey|Comfortaa&effect=3d');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

p { margin: 20px 0px; word-wrap: normal; }
li {margin: 10px auto;}

.homesite{
    font-family: 'Roboto', sans-serif;;
    background-color: white;
    margin: 0;   /* no space between site and screen */
    display: grid;
    grid-template-columns: 1fr;
}
.head{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align:center;
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
    color: whitesmoke;
    padding: 5px;      /* header body size extend 5px(top and bottom) */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
}

.rightbar{
    visibility: hidden;
} 

.buttonlink{
    padding: 5px;
    border: 1px;
    border-radius: 10px;
}

.navlist{
    margin: 0px;
    padding: 0px 10px;
    list-style-type: none;
}

.navlist a{
    text-decoration: none;
    color: black;
}

.usagetable{
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
}

.usagetable td{
    border: 1px solid grey;
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    width: 100%;
}

@media screen and (min-width : 800px) {

    .homesite{
        margin: 0;   /* no space between site and screen */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .flex-conten{
        display: flex;
        flex: 0 1 auto;
        /* align-self: center;
        flex-direction: row;
        justify-content: center; */
    }

    .content{
        display: grid;
        grid-template-columns: 0.5fr 4fr 1fr;
        gap: 10px;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .leftbar{
        grid-column: 1/2;
        /* padding-left: 50px; */
        /* margin-left: -40px; */
    }

    .mainsection{
        grid-column: 2/3;
    }

    .rightbar{
        visibility:visible;
        grid-column: 3/4;
    }

    /* for side nav link */
    .mainsection h1{
        padding-top: 90px;
        margin-top: -70px;
    }
    .mainsection h3{
        padding-top: 90px;
        margin-top: -80px;
    }

    .buttonlink:hover{
        color: white;
        font-weight: bold;
        background-color: rgb(67, 221, 235);
        text-decoration: none;
    }

    .sidesection{
        position: relative;
    }

    .content a:hover{
        text-decoration: underline;
    }

    .descirption-horizontal{
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .descirption-horizontal .flex-item{
        /* flex style: no grow/shrink/max 400px */
        flex: 0 1 auto; 
        margin: 0 5px;
    }
    .descirption-horizontal .flex-item img{
        width: 100%;
        height: auto;
    }

    .descirption-vertical{
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:center;
    }

    .descirption-vertical .flex-item{
        /* flex style: no grow/shrink/max 400px */
        flex: 0 1 auto; 
        margin: 0 5px;
    }
    .descirption-vertical .flex-item img{
        width: 100%;
        height: auto;
    }

    .descirption-horizontal div{
        margin: 5px 20px;
        text-align: left;
    }

    .descirption-vertical div{
        margin: 5px 10px;
        text-align: left;
    }

    /* use sticky when browser support, otherwise relative */
    @supports (position: sticky){
        .head{
            position: sticky;
            top: 0;
        }

        .sidesection{
            position: sticky;
            top: 70px;
        }
    }
}


