@import url('https://fonts.googleapis.com/css?family=Sniglet|Boogaloo|Slackey|Comfortaa&effect=3d');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.homesite{
    font-family: 'Roboto', sans-serif;;
    background-color: white;
    margin: 0px 0px;   /* no space between site and screen */
}

.head{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align:center;
    font-family: 'Comfortaa', sans-serif;
    color: whitesmoke;
    padding: 5px;      /* header body size extend 5px(top and bottom) */
}

.content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
}

.mainsection{
    grid-column: 2/3;
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
}