@import url('https://fonts.googleapis.com/css?family=Sniglet|Boogaloo|Slackey|Comfortaa&effect=3d');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.homesite{
    background-color: #eef2f3;
}

.head{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align:center;
    font-family: 'Comfortaa', sans-serif;
    color: whitesmoke;
}

.footer{
    color: #eef2f3;
    text-align: center;
    padding-top: 10px;
}