@import url('https://fonts.googleapis.com/css?family=Sniglet|Boogaloo|Slackey|Comfortaa&effect=3d');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.blogsite{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px 0px;
}

.header{
    text-align:center;
    font-family: 'Comfortaa', sans-serif;
    color: whitesmoke;
}

ul{
    padding: 0px 0px;
}

.navbar{
    width: 100%;
    padding: 0.5px 0px 0.5px 0px;
    color: aliceblue;
    font-weight: bold;
}

.navbar li{
    list-style: none;
    display: inline-block; 
    padding: 0px 5px;
    text-transform: uppercase;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    padding: 2px 20px;
    border: 1px gray;
    background-color: gray;
    border-radius: 5px;
}

.navbar li a:hover {
    background-color: aquamarine;
}

/* main content area css */
.content{
    background-color: whitesmoke;
    margin: 2px 5px;
    border:1px solid white;
    height: 800px;
}

/* article css */
.acticlecontent{
    margin: 5px;
}

.footer{
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}

@media screen and (min-width : 700px) {

    .header{
        text-align:left;
        margin-left: 20px;
        font-size: x-large;
    }
    
    ul{
        text-align: right;
    }

    .navbar li a {
        transition: all 0.3s ease 0s;
    }

    .main{
        width: 80%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        border-radius: 5px;
    }

    .blog_login{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog_login_title{
        align-self: flex-start;
        font-size: xx-large;
        font-weight: bolder;
        color: #485563;
        margin-bottom: 15px;
    }

    .blog_login_status{
        align-self: flex-start;
        font-size: small;
        color:red;
    }

    .blog_login_input{
        margin: 5px auto;
        border: 1px solid #485563;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        width: 300px;
    }

    .blog_login_input input{
        border: 0px hidden;
        margin: 2px 2px;
        font-size: x-large;
        outline: none;
    }

    .blog_login_input_pwd{ 
        width:80%;
    }

    .blog_login_input_pwdshow{
        background-color:transparent;
        color: blue;
        font-weight: bolder;
        font-size: small;
        font-family: 'Comfortaa', sans-serif;
        padding: 5px;
    }

    .blog_login_input_pwdshow:hover{
        border-radius: 10px;
        color: aliceblue;
        background-color: rgb(13, 83, 173);
        transition: all 0.5s ease 0s;
    }


    .blog_login_submit_button{
        width: 150px;
        font-size: large;
        border-radius: 10px;
        background-color: cadetblue;
        color: aliceblue;
        font-weight: bold;
        margin: 5px auto;
    }

    .blog_login_link{
        display: flex;
        flex-direction: row;
        font-size: medium;
    }
    .blog_login_link a{
        color: black;
        margin: auto 3px;
    }

    /* main content area item style */
    .content{
        border: 1px solid gray;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        order: 1;
        flex: 1 10 auto;
    }

    /* leftbar style */
    .leftbar{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 2px 0px 2px 5px;
        order: 0;
        flex-grow: 3;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        flex: 0 1 200px;
    }

    .leftbar .personal_pic{
        flex: 0 0 200px;
    }

    .leftbar .personal_pic img{
        border-radius: 100%;
        display: block;
        width: 100%;
        height: auto;
    }

    .personal_info{
        /* flex style */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* other */
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-size: large;
    }

    .personal_info li{
        text-align:initial;
        margin: 5px 5px;
    }

    .personal_info li a{
        text-decoration: none;
        color:blue;
        font-size: medium;
    }

    .personal_info_contact{
        border: 0px solid white; 
        background: rgb(26, 83, 156); 
        border-radius: 10px; 
        padding: 4px 4px;
        font-weight: bolder;
    }
    
    .rightbar{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 2px 5px 2px 0px;
        order: 2;
        flex: 0 1 auto;
    }

}